.ql-editor {
  min-height: 18em;
  border: none;
}
.ql-blank {
  border: none;
}

.ql-editor.ql-blank {
  border: none;
  font-size: 1rem;
}

.quill-container {
  min-height: 100px;
}

.ql-toolbar {
  display: none;
}

@media screen and (min-width: 769px) {
  .ql-toolbar.ql-snow {
    display: block;
    border: none;
    border-bottom: 0.5px solid #cccccc88;
    margin-bottom: 15px;
    text-align: center;
  }

  .ql-container.ql-snow {
    border: none;
  }
}
